//- Все примеси в этом файле должны начинаться c имени блока (or)

mixin or(text, mods)

	//- Принимает:
	//-	 text		{string} - текст
	//-	 mods		{string} - список модификаторов
	//- Вызов:
			+or('Текст', 'some-mod')
	//- Использование с php
			--------------------------------------
			Вызов:
				+or('<?php the_title("<h1 class=\'entry-title\'>","</h1>"); ?>')
			Результат:
				<div class="or">
					<div class="or__inner">
						<?php the_title("<h1 class='entry-title'>","</h1>"); ?>
					</div>
				</div>
			---------------------------------------
			Вызов:
				+or('<h2 class="tours__title"><?php echo $toursTitle ?></h2>')
			Результат:
				<div class="or">
					<div class="or__inner">
						<h2 class="tours__title"><?php echo $toursTitle ?></h2>
					</div>
				</div>

	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' or--' + modsList[i].trim();
			}
		}
		if(typeof(text) === 'undefined')
			text = 'или'

	.or(class=allMods)&attributes(attributes)
		.or__inner!= text
