// В этом файле должны быть стили для БЭМ-блока or, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность http//nicothin.github.io/idiomatic-pre-CSS/#priority

	.or

		display flex
		align-items center

		&:before,
		&:after
			content ''
			flex-grow 1
			height 1px
			background-color $light-grey

		&__inner
			margin 0
			padding-right 0.5rem
			padding-left 0.5rem

		h1
			margin 3rem 0
		h2,h3
			margin 1.5rem 0
		h4,h5,h6
			margin 1rem 0

