$container-mobile = 260px
$container-tablet = 668px
$container-desktop = 1050px

$screen-mobile = 320px
$screen-tablet = 768px
$screen-desktop = 1150px

$container-mobile = 280px
$container-tablet = 671px
$container-desktop = 1100px

$mobile-widths-only = 'max-width: 767px'
$tablet-widths = 'min-width: 768px'
$desktop-widths = 'min-width: 1150px'

$retina = '(min-resolution: 144dpi),(min-resolution: 1.5dppx)'

$lighter-grey = rgb(244, 244, 244)
$light-grey = rgb(208, 209, 205)
$grey = rgb(102, 102, 102) //#666666
$dark-grey = rgb(93, 93, 93)
$darker-grey = rgb(58,59,57)//#3a3b39

$blue = #1f8086
